.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100; /* what is z index ? 
    it's to sit above of other elements
    its to ensure it stays above the others*/
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}